{% extends 'main/base.html' %}

{% block title %}
Проект "Books"
{% endblock %}

{% block content %}
 Це проект навчальний для підтримки курсу з "Django" в Університеті ім.Альфреда Нобеля.<br>
 Основні url, які використовуються в проекті наступні:<br>
    ''<br>
    'admin/'<br>
    'silk/'<br>
    'about/'<br>
    'tabs/'<br>
    'create/'v
    'book/view/<int:id>/'<br>
    'book/edit/<int:id>/'<br>
    'book/delete/<int:id>/'<br>
    'book/new/'<br><br>

            а також для підтримки API:<br>
    'api/v3/<int:pk>/'<br>
    'api/v3/detail/<int:pk>/'<br>
    'api/v3/book/'<br>
    'api/v3/book/<int:pk>/'<br>
    'api/v3/bookdelete/<int:pk>/'<br>
<br>
    'api/v3/auth/'<br>
    'api/v3/auth/users/'<br>
    r'^auth/'<br>
 <br>
<br>
<b>* Важливо! <br> Оскільки сайт створено для навчання та демонстрації,
    режим   DEBUG = True   залишено свідомо для контролю роботи сайту.</b>
                            {% endblock %}

