{% extends 'main/base.html' %}
{% block title %}
Book
{% endblock %}

{% block content %}
 <h3> Обрана Вами книга: </h3>
        {% if book %}
                 <div class="alert alert-success mt-1">
                  <h3><u>{{ book.title }}</u></h3>
                  <p><b><i>{{ book.author }}</i></b></p>
                  <p><i>{{ book.text }}</i></p>
                  <p><b>Рік видання: </b>    {{ book.published }}</p>
                  <p><b>Кількість: </b>          {{ book.count }}</p>
                 </div>
        {% else %}
            <p>В нашому каталозі така книга відсутня. Сорі...</p>
        {% endif %}
{% endblock %}





